@font-face {
  font-family: 'Sunshiney';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sunshiney Regular'), local('Sunshiney-Regular'), url(https://fonts.gstatic.com/s/sunshiney/v10/LDIwapGTLBwsS-wT4vcQFMOs.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-navigation {
  width: 100%;
  height: 90px;
  background: #FFFFFF;
  border-bottom: 2px dashed #C0C0C0;
  position: fixed;
  z-index: 6;
  transition: height 0.2s ease-in-out;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .main-navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
}
.main-navigation .nav-container .nav {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .nav {
    width: 100%;
    justify-content: space-around;
  }
}
.main-navigation .nav-container .nav a {
  font-size: 1.6rem;
  color: #212529;
  text-decoration: none;
}
.footer {
  width: 100%;
  border-top: 2px dashed #C0C0C0;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  position: relative;
}
.home .main-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.home .main-overlay .emailForm {
  background-color: white;
  box-shadow: 1px 1px 8px 1px gray;
  -moz-box-shadow: 1px 1px 8px 1px gray;
  -webkit-box-shadow: 1px 1px 8px 1px gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  height: 300px;
  width: 400px;
  padding: 20px 20px 20px 20px;
}
.home .main-overlay .emailForm p {
  font-family: 'Roboto', cursive;
  font-size: 3rem;
}
.home .main-overlay .emailForm .email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
}
.home .main-overlay .emailForm .email-wrapper input {
  height: 40px;
  width: 180px;
  margin: 0 0 0 30px;
}
.home .main-overlay .emailForm button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  font-size: 1.8rem;
  position: relative;
  top: 30%;
  left: 70%;
}
@media (max-width: 500px) {
  .home .main-overlay .emailForm button {
    width: 100%;
  }
}
.home .main-overlay .emailForm button:hover {
  background: #FFFFFF;
  color: #17A2B8;
}
.home .intro {
  padding: 90px 0 10px;
  border-bottom: 2px dashed #C0C0C0;
  position: relative;
  z-index: 2;
}
.home .intro .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 155px;
  height: 250px;
  width: 800px;
  z-index: 1;
}
.home .intro .overlay p {
  color: #f6e47f;
  font-family: 'Sunshiney', cursive;
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 5px 2px 1px #f0c81e;
  z-index: 3;
}
.home .intro .overlay:after {
  content: " ";
  background-image: linear-gradient(hsla(300, 20%, 50%, 0.4), 90%, coral);
  position: absolute;
  left: 0;
  top: 0;
  height: 250px;
  width: 800px;
  z-index: 2;
}
.home .intro img {
  max-width: 100%;
  height: auto;
}
.home .intro h2 {
  margin-top: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    order: 1;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    order: 2;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-wrap: wrap;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
    margin: 0 auto 30px;
  }
}
.home .content-pick .destination .btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
.home .content-pick .destination .btn:hover {
  background: #FFFFFF;
  color: #17A2B8;
}
