.home {
  position: relative;

  .main-overlay{
    .center();
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;

    .emailForm{
      background-color: white;
      .box-shadow(1px, 1px, 8px, 1px, gray);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2.5rem;
      height: 300px;
      width: 400px;
      .padding(20px, 20px, 20px, 20px);

      p{
        font-family: 'Roboto', cursive;
        font-size: 3rem;
      }

      .email-wrapper{
        .center();
        .margin(40px);

        input{
          height: 40px;
          width: 180px;
          .margin(@left: 30px);
        }
      }

      button{
        .button-creator(90px, 50px, @button-bg, @white, 1.8rem);
        position: relative;
        top: 30%;
        left: 70%;
      }
    }
  }

  .intro {
    padding: 90px 0 10px;
    border-bottom: 2px dashed @navigation-border;
    position: relative;
    z-index: 2;

    .overlay{
      .center();
      position: absolute;
      bottom: 155px;
      height: 250px;
      width: 800px;
      z-index: 1;

      p{
        color: rgb(246, 228, 127);
        font-family: 'Sunshiney', cursive;
        font-size: 6rem;
        font-weight: 600;
        .text-shadow(5px, 2px, 1px, rgb(240, 200, 30));
        z-index: 3;
      }

      &:after{
        content: " ";
        background-image: linear-gradient(hsla(300, 20%, 50%, 0.4), 90%, coral);
        position: absolute;
        left: 0;
        top: 0;
        height: 250px;
        width: 800px;
        z-index: 2;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h2 {
      margin-top: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media @mobile {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    transition: all .2s ease-in-out;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-wrap: wrap;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }
      
      .btn {
        .button-creator(200px, 45px, @button-bg, @white, 1.8rem);     
      }
    }
  }
}// home